<tr>
  <td>
  <img src="<%= item.product.image.tiny %>" alt="Product Image">
  </td>
  <td>
    <h4><%= item.product.name %></h4>
    <br>
    <p><%= item.product.description %></p>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol item.product.price * item.quantity %>
  </td>
</tr>